/************************/
/* Starter Code: Layout */
/************************/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito');

body {
    font-family: Nunito, "Helvetica Neue", "Helvetica", Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: #111;
    color: #fff;
}

body * {
    box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

main {
    display: grid;
    grid-template-columns: 250px auto;
    overflow-y: auto;
    margin-top: 100px;
    height: calc(100vh - 175px);
}

#sidebar {
    /* First & second row (spans), first column */
    grid-row: 1 / 3;
    grid-column: 1 / 2;

}

nav {
    /* First row, second column */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#featured-content {
    /* Second row, second column */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

footer {
    background: #222;
    height: 75px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
    background-color: hsla(0, 0%, 100%, .3);
}

/********************************* Your code below this line ******************************/



/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */
#sidebar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 25px 25px 25px;
    margin-left: 20px;
    row-gap: 20px;
}
#sidebar > a {
    color: rgb(228, 228, 228);
    margin: 0px;
    margin-left: 30px;
    padding-left: 10px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-width: 3px;
    border-left-style: solid;
}
#sidebar > a:hover {
    color: white;
    border-left-color: #1DB954;
    border-left-width: 3px;
    border-left-style: solid;
}





/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */

nav {
    display: grid;
    grid-template-columns: 70px 65px 58px;
    column-gap: 30px;
    margin-bottom: 20px;
}

nav > a, nav > a:visited {
    color: rgb(228, 228, 228);
    font-size: large;
    border-bottom-width: 3px;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    margin-top: 50px;
}

nav > a:hover,
nav > a:active {
    border-bottom-color: green;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 69% 120px 120px;
    grid-template-rows: 34px;
    column-gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

header > #upgrade {
    grid-column: 2/3;
    width: 120px;
    padding: 6px;
    padding-left: 25px;
    padding-bottom: 7px;
    border: gray solid 2px;
    border-radius: 20px;
    color: lightgray;
    font-weight:300;
}

header > #profile {
grid-column: 3/4;
grid-row: 1/2;

width: 120px;
padding: 6px;
padding-left: 25px;
padding-bottom: 7px;
background-color: rgb(32, 32, 32);
border-radius: 20px;
color: lightgray;
font-weight: bold;
border: rgba(0,0,0, 0) solid 2px;
}

header > #upgrade:hover {
    background-color: rgb(81, 81, 81);
}

header > #profile:hover {
    background-color: rgb(81, 81, 81);
    }




/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */
#featured-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: fit-content;
}

.artist-card {
    font-size:small;
    border-radius: 14px;
    background-color: rgb(46, 46, 46);
    max-width: fit-content;
    max-height: fit-content;
    margin: 10px;
    padding: 15px;
}

.artist-card img {
    width: 180px;
    border-radius: 100px;
}

.artist-card h2 {
    font-size:large;
    font-weight:bolder;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.artist-card p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.artist-card button {
    visibility: hidden;
}

.artist-card:hover button {
    visibility: visible;
}




/*
*Fix the play buttons
*/

.card-footer > button {
    background-color: #1DB954;
    border: none;
    border-radius: 100px;
    margin-left: 140px;
}
.play-button > i {
    color: white;
    padding: 10px
}
.btn-label {
    height: 0px;
    font-size: 0px;
    size: 0px;
}



/*****************/
/* Mobile Design */
/*****************/
@media screen and (max-width: 1000px) {
    #featured-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



@media screen and (max-width: 700px) {
    #featured-content {
        grid-template-columns: 1fr 1fr;
    }
    #sidebar {
        display: none;

    }
    main {
        grid-template-columns: auto;
    }
}


