* {
    box-sizing: border-box;
}
p,
a,
li {
    line-height: 1.5em;
    font-size: 1em;
}

title {
    background-color: #856d8a;
}

header,
footer {
    background-color: hsla(308, 51%, 47%, 0.85);
    margin: 1;
    padding: 2px;
    color: rgb(147, 81, 140, );
    font-family: sans-serif, Helvetica, sans-serif;
}

body {
    background-image: url('./content/images/788850.jpg');
    background-repeat: repeat-y;
    font-family: sans-serif, Helvetica, sans-serif;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: fit-content;
    /* This ugly hack allows the table to be only as wide as necessary, 
breaking text on spaces to allow cells to be less wide. */
}

th,
td {
    border-bottom: 1px solid #933fa4;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #933fa4;
}

tr {
    background-color: #dddddd;
}



.main h2 {
    background-color: hsla(308, 23%, 32%, 0.9);
    margin-bottom: 0;
    margin-top: 30px;
    padding: 2px;
    width: fit-content;
    color: rgb(147, 81, 140, 0.6);
    font-family: sans-serif, Helvetica, sans-serif;
}

.jump_menu {
    padding: 0px;
    width: max-content;

    justify-content: center;
}

.navbar {
    background-color: hsla(308, 51%, 47%, 0.85);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a,
.navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 140%;
    flex-direction: column;
}

.photo-section img {
    width: 60%;
    margin-right: 1.3%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    background-color: rgba(63, 137, 131, 0.85);
    color: white;
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    display: block;
}

a:hover,
a:active {
    background-color: rgb(160, 95, 157);
}

