@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mooli&display=swap');

* {
    box-sizing: border-box;
  }

title {
    background-color: #856d8a;
}

body {
    background-image: url('./content/images/MilkyWayPortugal_1920x1080.jpg');
    background-repeat: repeat;
    font-family: 'Mooli', sans-serif;
}

.header {
    background-color: hsla(308, 52%, 48%, 0.836);
    color: rgb(147, 81, 140, );
    font-family: 'Mooli', sans-serif;
    border-radius: 5px;
}


/* Style the top navigation bar */
.navbar, .jumpbar {
    display: flex;
    background-color: rgb(71, 40, 74);
    border-radius: 5px;
    max-width: 1475px;
  }
  
  /* Style the navigation bar links */
  .navbar a, .jumpbar a  {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .jumpbar a:hover, .navbar a:hover {
    background-color: #ddd;
    color: rgb(71, 40, 74);
    border-radius: 5px;
  }

    .jumpbar, .jumpbar a {
    flex-direction: column;
    text-align: left;
    }



    /* headers */
    .jumpbar > h1, .main > h1 {
        text-align: center;
        color: rgb(248, 212, 255);
    }
    .jumpbar > h1, .main > h1 {
      margin: 0;
      border-radius: 5px;
    }
    .jumpbar > h1 {
      border-bottom: solid black 2px;
      border-top: solid black 2px;
    }
    .main > h1 {
      border: solid black 2px;
      background-color: #9b7ea194;
    }

/* Column container */
.row {  
  display: flex;
  flex-wrap: row;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: rgba(69, 58, 69, 0.831);
  color: white;
  max-width: 280px;
}

/* Main column */
.main {
  flex: 80%;
  padding: 20px;
  max-width: 1200px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(69, 58, 69, 0.831);
  color: white;
}




#table_head {
  font-size: 1.8em;
  font-weight: bolder;
}

.photo-section {
  display: flex;
  width: 140%;
}

.photo-section img {
  width: 60%;
  margin-right: 1.3%;
}

table {
    font-family: 'Mooli', sans-serif;
    border-collapse: collapse;
    width: fit-content;
    /* This ugly hack allows the table to be only as wide as necessary, 
breaking text on spaces to allow cells to be less wide. */
}

th,
td {
    border-bottom: 1px solid #933fa4;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #933fa4;
}

tr {
    background-color: #dddddd;
}








/* This is for the menu links */

td > a:link,
td > a:visited {
    background-color: rgba(63, 137, 131, 0.85);
    color: white;
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    display: block;
}


td > a:hover,  
td > a:active {
    background-color: hsla(308, 51%, 47%, 0.85);
    padding: 20px 40px;
    transition: all 1s ease-out;
}

  
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
    .jumpbar, .navbar {
        flex-direction: row; 
    }
  }